.c-box {
  background: #fff;
  border: 1px solid #dae2e5;
  border-radius: $default-radius;
  box-shadow: 0 1px 8px #e2e5e6;
  cursor: pointer;
  display: block;
  margin: $gutter-width;
  overflow: hidden;
  padding: 16px 15px;
  position: relative;
  transition: box-shadow .3s ease-in-out;
  @media screen and (min-width: 800px) {
    align-items: center;
    background-image: url('../assets/boks-live.svg');
    background-position: 45px 26px;
    background-repeat: no-repeat;
    background-size: 105px;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    padding: 36px 38px 23px 195px;
  }

  &__info {
    background-image: url('../assets/boks-live.svg');
    background-repeat: no-repeat;
    background-size: 87px;
    margin-bottom: 20px;
    padding: 20px 0 0 110px;
    @media screen and (min-width: 800px) {
      background-image: none;
      padding: 0;
    }
  }

  &__choice {
    align-items: center;
    display: flex;
    padding-bottom: 10px;

    &-label {
      color: #666;
      padding: 0 10px;
    }
  }

  &__img {
    left: 15px;
    padding: 17px 0;
    position: absolute;
    width: 87px;

    @media screen and (min-width: 800px) {
      left: 45px;
      padding: 26px 0;
      width: 105px;
    }
  }

  &__price {
    bottom: 16px;
    position: absolute;
    right: 10px;
    @media screen and (min-width: 800px) {
      position: relative;
    }
  }

  &.is-active {
    border-color: $color-blue;
    box-shadow: 0 0 3px 1px $color-blue;
  }
}
