.check {
  height: 50px;
  position: absolute;
  right: -1px;
  top: -1px;
  width: 50px;
  @media screen and (min-width: $default-breakpoint) {
    height: 60px;
    width: 60px;
  }

  &__box {
    border-top-right-radius: $default-radius;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }

  &__inner {
    background: $color-blue;
    height: 200%;
    position: relative;
    transform: rotate(45deg) translate(-50px, -50px);
    width: 200%;
    @media screen and (min-width: $default-breakpoint) {
      transform: rotate(45deg) translate(-60px, -60px);
    }
  }

  &__checkmark {
    height: 16px;
    position: absolute;
    right: 6px;
    top: 6px;
    width: 16px;
    @media screen and (min-width: $default-breakpoint) {
      height: 20px;
      right: 8px;
      top: 8px;
      width: 20px;
    }
  }

  &__label {
    bottom: 25px;
    display: none;
    left: 100%;
    padding: 10px;
    position: absolute;
    @media screen and (min-width: $default-breakpoint) {
      display: block;
      opacity: 0;
      transition: opacity .3s;
    }
  }

  &__label-text {
    color: #193e70;
    font-size: 20px;
    line-height: 100%;
    padding: 5px 0;
    text-align: center;
    width: 90px;
  }
}

@media screen and (min-width: $default-breakpoint) {
  .is-active {
    .check__label {
      opacity: 1;
    }
  }
}
