.selector {
  background: #f9fcfd;
  border-bottom: 2px solid #979797;
  padding-bottom: 20px;
  padding-top: 10px;
  @media screen and (min-width: $default-breakpoint) {
    padding-bottom: 40px;
    padding-top: 20px;
  }
}

.product {
  background: #f9fcfd;
  border: 1px solid #dae2e5;
  border-radius: $default-radius;
  cursor: pointer;
  display: block;
  margin: ($gutter-width * 3) $gutter-width;
  padding-bottom: 25px;
  position: relative;
  transition: margin .3s ease-in-out;

  .product__heading {
    transition: height .3s ease-in-out;
  }
  @media screen and (min-width: $default-breakpoint) {
    margin: (30px + $gutter-width) $gutter-width $gutter-width;
  }

  &__heading {
    background-position: center;
    background-size: cover;
    border-radius: $default-radius $default-radius 0 0;
    height: 70px;
    margin: -1px;
    @media screen and (min-width: $default-breakpoint) {
      height: 110px;
    }
  }

  &__body {
    padding: 25px 16px 16px 54px;
  }

  &__radio {
    left: 12px;
    position: absolute;
  }

  &.product_active {
    background: #fff;
    border-color: $color-blue;
    box-shadow: 0 0 3px 1px $color-blue;
    @media screen and (min-width: $default-breakpoint) {
      margin: $gutter-width;

      .product__heading {
        height: 140px;
      }
    }
  }
}
