.selector {
  background: #f9fcfd;
  border-bottom: 2px solid #979797;
  padding-top: $gutter-width;
  padding-bottom: $gutter-width;
}

.product {
  cursor: pointer;
  background: #f9fcfd;
  display: block;
  border-radius: $default-radius;
  margin: $gutter-width;
  border: 1px solid #dae2e5;
  @media screen and (min-width: $default-breakpoint) {
    margin: 40px $gutter-width $gutter-width $gutter-width;
  }
  &__heading {
    margin: -1px;
    border-radius: $default-radius $default-radius 0 0;
    height: 70px;
    background-position: center;
    background-size: cover;
    @media screen and (min-width: $default-breakpoint) {
      height: 110px;
    }
  }
  &__body {
    padding: $gutter-width;
  }

  &.product_active {
    border-color: #0099dc;
    background: #fff;
    box-shadow: 0 0 1px 1px #0099dc;

    @media screen and (min-width: $default-breakpoint) {
      margin: $gutter-width;
      .product__heading {
        height: 140px;
      }
    }
  }
}