.radio-box {
  background: #fff;
  border: 2px solid #dcdad8;
  border-radius: 4px;
  display: block;
  height: 26px;
  width: 26px;

  &__img {
    display: none;
    height: 20px;
    margin: 3px;
    width: 20px;
  }

  &__radio {
    opacity: .001;
    position: absolute;

    &:checked + .radio-box__img {
      display: block;
    }
  }

  &.radio-box_small {
    height: 20px;
    width: 20px;

    .radio-box__img {
      height: 14px;
      width: 14px;
    }
  }
}
