html {
  line-height: $line-height-base;
}

body {
  color: $body-color;
  font-family: $font-family;
  font-size: $font-size-base;
}

a {
  color: $link-color;
}

h1,
h2,
h3 {
  color: $headings-color;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
  @media screen and (min-width: $default-breakpoint) {
    font-size: 27px;
  }
}

h2 {
  font-size: 21px;
  padding: 40px 0 16px;
  text-align: center;
  @media screen and (min-width: $default-breakpoint) {
    font-size: 24px;
  }
}

h3 {
  font-size: 18px;
  @media screen and (min-width: $default-breakpoint) {
    font-size: 21px;
  }
}

p {
  margin: 0;
  padding: 0 0 $gutter-width;
}

.wrapper {
  margin: 0 auto;
  max-width: 924px;
}

.text-right {
  text-align: right;
}

.hidden-sm-table-row {
  display: none;
  @media screen and (min-width: $default-breakpoint) {
    display: table-row;
  }
}

img {
  vertical-align: middle;
}