// defaults
$hella-breakpoint: 800px !default;

// hella row
$hella-row-max-width: 400px !default;

// hella item
$hella-item-background: #f9fcfd !default;
$hella-item-background-active: #fff !default;
$hella-item-border-color: #dae2e5 !default;
$hella-item-heading-height: 110px !default;
$hella-item-heading-margin: 30px !default;
$hella-item-heading-height-sm: 70px !default;
$hella-item-heading-margin-sm: 20px !default;
$hella-item-radius: 4px !default;
$hella-item-active-border-color: #0099dc !default;
$hella-item-gutter-width: 5px !default;
$hella-item-body-padding: 25px !default;