// type
$body-color: #9b9b9b;
$link-color: #007d46;
$font-size-base: 15px;
$line-height-base: 1.4;
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !default;
$headings-color: #666;

$gutter-width: 4px;
$default-radius: 4px;
$default-breakpoint: 800px;
$default-max-width: 350px;
$color-blue: #0099dc;

