
@font-face {
  font-family: 'Dax-Regular';
  src: url('Dax-Regular.eot?#iefix') format('embedded-opentype'),  url('Dax-Regular.woff') format('woff'), url('Dax-Regular.ttf')  format('truetype'), url('Dax-Regular.svg#Dax-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
